<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<div th:replace="~{base::head}"></div>
<div th:replace="~{base::navbar}"></div>
<body class="container">


	<table class="table table-striped">
		<thead>
			<tr>
				<th class="col-1">ID</th>
				<th class="col-2">Nome</th>
				<th class="col-3">Telefone</th>
				<th class="col-3">E-mail</th>
				<th class="col-3">Opções</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="pessoa : ${pessoas}">
				<td th:text="${ pessoa.id }">ID</td>
				<td th:text="${ pessoa.nome }">Nome</td>
				<td th:text="${ pessoa.telefone }">Telefone</td>
				<td th:text="${ pessoa.eMail }">E-mail</td>
				<td class="text-center">
					<a th:href="@{/alterar/{id}(id=${pessoa.id})}" class="btn btn-warning">Alterar</a>
					<a th:href="@{/excluir/{id}(id=${pessoa.id})}" class="btn btn-danger">Excluir</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
